name: CI

on:
  push:
    branches: [main, dev]
  pull_request:
    branches: [main]

jobs:
  validate:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5

      - name: Cache Go modules
        uses: actions/cache@v4
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Download dependencies
        run: go mod download

      - name: Tidy modules
        run: go mod tidy

      - name: Format
        run: if [ "$(make fmt | wc -l)" -gt 1 ]; then exit 1; fi

      # - name: Lint
      #   uses: golangci/golangci-lint-action@v6
      #   with:
      #     args: --out-format=colored-line-number

      - name: Run tests
        run: make test

      - name: Build
        run: make build
